<div id="profileinfo"></div>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script>
function onSignIn(googleUser) {
var profile = googleUser.getBasicProfile();
document.getElementById('profileinfo').innerHTML = profile.getName() + "<br>"
    + "<a href='mailto:" +profile.getEmail() + "'>" + profile.getEmail() + "</a>" + "<br>"
    + "<img src='" + profile.getImageUrl() + "'/>"

console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
console.log('Name: ' + profile.getName());
console.log('Image URL: ' + profile.getImageUrl());
console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
</script>
<a href="#" onclick="signOut();">Sign out</a>
<script>
function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
    console.log('User signed out.');
    });
}
</script>